@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ef4444, #7f1d1d);
  border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #111 0%, #000 100%);
  color: #fff;
}
